#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# DynamicSockets Configuration
########################################
#
#    DynamicSockets.Enable
#        Description: Enable/disable dynamic sockets (some dynamic sockets will still apply stats).
#        Default:     0 - Disabled
#                     1 - Enabled
#

DynamicSockets.Enable = 0
